
<h2>Heather - 2007</h2>
<p></p><p>Congratulations on actually building your dream home in Turkbuku... It is absolutely beautiful and, in my opinion, encompasses everything a vacation home should.  Turkey is an amazing country but I think Turkbuku is its gem.</p><p></p>
<h2>Paul - 2008</h2>
<p></p><p>You have chosen so well with and within Turkbuku.  The beautiful pool, the cooling breeze.  The house is a haven of relaxation whilst the elegantly social shoreline is but a downhill stroll (and a sobering walk up!).</p><p></p>
<h2>Kara - 2007</h2>
<p></p><p>I hope to be back again and again. This beautiful home and incredible village are intoxicating! I loved every minute.</p><p></p>
<h2>Lindsey - 2007</h2>
<p></p><p>We adored the breathtaking views, infinity pool and the perfect house.</p><p></p>
<h2>Walter - 2008</h2>
<p></p><p>To say (this house) is a work of art would be an understatement.</p><p></p>